@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900");

:root {
  --blue: #74bcdd;
  --dark-blue: #2d3e51;
  --red: #f74442;
  --yellow: #fbca32;
  --green: #5be95b;
  --grey: #ebeced;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 10px;
  background-image: url(https://images.unsplash.com/photo-1544185310-0b3cf501672b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2133&q=80),
    radial-gradient(ellipse at center, #effaff 0%, #c5d0d8 100%);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--dark-blue);
}

main {
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

