html {
    scroll-behavior: smooth;
  }
  
  .library-header {
    height: 100%;
    margin: 0;
  }

  .library-header-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h3 {
    font-family: "Hoefler Text";
    text-transform: lowercase;
    font-size: 92px; 
    letter-spacing: 0.05em;
    color: white;
  }
  
  h4 {
    margin: 0 0 10px;
    margin-bottom: 0;
    font-weight: 100;
    font-size: 24px;
    color: white;
  }
  
  h1 {
    margin: 0 0 10px;
    font-weight: 100;
    font-size: 48px;
  }
  
  h2 {
    margin-bottom: 0;
    font-size: 36px;
  }
  
  a,
  a:visited {
    color: var(--red);
    font-weight: bold;
  }

  button {
    width: 200px;
    height: 40px;
    background-color: var(--blue);
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--dark-blue);
    font-size: 16px;
    border-bottom: 4px solid currentColor;
  }
  
  @media (min-width: 500px) {
    body,
    main,
    section {
      padding: 50px;
    }
  }




  #read-more {
    color: white;
    margin: 0 0 10px;
    margin-bottom: 0;
    font-weight: 100;
    font-size: 24px;
    color: white;
  }
  
  #read-more:hover {
    text-decoration: underline;
  }

  #to-top {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    border-radius: 20px;
  }
  
  #to-top:hover {
    text-decoration: underline;
  }